.main {
  padding: 5rem 2rem 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: var(--color-espresso);
  font-weight: bold;
  font-family: var(--font-primary);
  font-size: 3rem;
  overflow: hidden;
}

.animateText {
  display: inline;
  clip-path: inset(0 100% 0 0);
  animation: pixelReveal 2s steps(20) infinite;
}
.staticText {
  display: inline;
  /* No animation - just static text */
}

@keyframes pixelReveal {
  0%,
  40% {
    clip-path: inset(0 100% 0 0); /* Hidden */
  }
  60%,
  100% {
    clip-path: inset(0 0 0 0); /* Visible */
  }
}

.profile {
  display: flex;
  gap: 2rem;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
}

.photo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.intro {
  color: var(--color-espresso);
  font-family: var(--font-primary);
}

.introText {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.introDescription {
  font-size: 1.125rem;
  color: var(--color-espresso);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 700px;
  margin: 0 auto;
}
